
.inner > h1 {
  font-size: 40px;
  padding-inline: 7px;
  color: var(--baby-blue);
}

.logo {
  display: flex;
  position: relative;
  margin-inline: 50px;
  padding: 50px;
  scale: 70%;
}

.inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inner > h1 {
  color: var(--titlu-white);
}

.space_1 {
 height: 55px;
}

.space_2 {
  position: absolute;
  height: 270px;
  top: 5%;
  left: -22%;
}
